<<<<<<< Updated upstream

ol {
	list-style-type:upper-roman;
}

ul {
	list-style-type: square;
=======

ol {
	list-style-type:upper-roman;
}

ul {
	list-style-type: square;
>>>>>>> Stashed changes
}